.button-container {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 200px;
    left: 50px;
}

.additem-button {

    width: 140px;
    height: 40px;
    font-size: 15px;
    font-weight: bolder;
    text-transform: uppercase;
    background-color: #F5D372;
    border: 1px solid #F5D372;
    color: #000000;
    border-radius: 10px;
}

.additem-button:hover {
    background-color: #F5D372;
    color: white;
}

.categorybranch-button {
    margin: 10px 0px;
    width: 180px;
    height: 40px;
    font-size: 15px;

    background-color: white;
    border: 1px solid #F5D372;
    color: #F5D372;
    border-radius: 10px;
}

.categorybranch-button:hover {
    background-color: #F5D372;
    color: white;
}

.transactions-month {
    margin-top: 10px;
    font-size: 18px;
}