.footer {
  position: fixed;
  width: 100%;
  height: 70px;
  left: 0px;
  bottom: 0%;
  border-top: 1px solid white;

  background: #F5D372;
}

.pt-text {
  position: absolute;
  /* width: 431px; */
  height: 43px;
  /* left: 85%; */
  top: 20px;
  right: 20px;
  /* bottom: 50%; */

  /* font-family: Airbnb Cereal App; */
  font-size: 20px;
  line-height: 26px;

  color: #000000;
}