.content-item-detail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    overflow: auto;

    position: absolute;
    width: 1393px;
    height: 820px;
    left: 40px;
    top: 150px;
}

.content-item-detail::-webkit-scrollbar {
    background: transparent;
    width: 10px;
}

.item-detail-img {
    position: absolute;
    width: 432px;
    height: 413px;

    border: 2px solid #F5D372;

    background: #F5D372;
    border-radius: 15px;
}


.item-detail-name {
    position: absolute;
    width: 500px;
    height: 39px;
    left: 470px;
    text-align: left;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;

    color: #000000;
}

.item-detail-category {
    position: absolute;
    width: 750px;
    height: 39px;
    left: 470px;
    top: 50px;
    text-align: right;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 41px;

    color: grey;
}

.delete-button {
    position: absolute;
    width: 114px;
    height: 28px;
    left: 88%;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #FFFFFF;

    background: #E13131;
    border-radius: 10px;
}

.edit-button {
    position: absolute;
    width: 114px;
    height: 28px;
    left: 88%;
    top: 30px;
    ;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: black;

    background: #F5D372;
    border-radius: 10px;
}

.item-detail-desc {
    position: absolute;
    width: 750px;
    height: 357px;
    left: 470px;
    top: 100px;

    text-align: justify;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    color: #000000;
}

.availability-container {
    position: absolute;
    width: 750px;
    height: 189px;
    left: 470px;
    top: 490px;
}

.available-text {
    position: absolute;
    width: 250px;
    height: 50px;
    left: 470px;
    top: 440px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 34px;
    color: #000000;

    border-radius: 20px;
}

.available-list {
    margin: auto auto;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 45px;
    text-align: left;
}

.wishlist-full {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 82%;
    top: 0px;

    background: url(../imgs/heart.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.wishlist-empty {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 82%;
    top: 0px;

    background: url(../imgs/wishlist-empty.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.addto-cart {
    position: relative;
    width: 30px;
    height: 30px;
    left: 0px;
    top: 5px;

    background: url(../imgs//cart.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.addtocart-span {
    position: relative;
    top: -45px;
    left: 550px;
    font-size: 20px;
}